.noticeContent{
    padding-top:37px;
}
.van-top-tab{
    position: fixed;
    top:46px;
    width: 100%;
    height:25px;
    z-index:99;
    left:0
}
.van-top-tab ul{
    height:25px;
    background-color: #fff;
    border-bottom:1px solid #f7f7f7;
    display: -webkit-flex;
    display: -moz-box;
    justify-content:space-between;
    padding:10px 10px;
    font-size:14px;
    line-height:25px;
    text-align: center;
}
.van-top-tab ul li{
    width: 100%;
}
.wrapper{
    overflow: hidden;
}
.wrapper-body{
    top:50px;
    /*height:300px;*/
    width: 100%;
    background-color: #fff;
    overflow: scroll;
    border-radius: 0 0 15px 15px;
}
.editpay{
    width:50px;
    height:42px;
    border-radius: 50%;
    background-color: #07c160;
    position: fixed;
    bottom:30px;
    right:15px;
    text-align: center;
    line-height: 50px;
    padding-top:8px;
}

/*overlay*/
/*.overlay{
    pointer-events: none;
}*/
.overlay .overlay_bg{
    position: fixed;
    width: 100%;
    height:100%;
    top:46px;
    left:0;
    background-color:#000 ;
    opacity:0.7;
    z-index: 1;
}
.overlay .wrapper{
    position: relative;
    top:0;
    left:0;
    z-index: 9;
}

.noticelist li{
    padding:5px 15px;
    font-size:12px;
    border:1px solid #f7f7f7;
    /*position: relative;*/
}
.noticelist .li-item{
    /*display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    width: 100%;
    justify-content: space-between ;*/
    content: "";
    clear: both;
    overflow: hidden;
    /*visibility: hidden;*/
}
.noticelist li .title{
    font-size:15px;
    margin:0;
    padding: 5px 0;
    font-weight: normal;
}
.noticelist li .title_bold{
    font-size:15px;
    margin:0;
    padding: 5px 0;
}
.noticelist li time{
    font-size:12px;
    color:#999;
   /* position: absolute;
    bottom: 5px;*/
}
.noticelist .item-r{
    line-height:20px;
    color:#999;

  /* min-width:20%;*/
}
.noticelist .item-l{
    width: 30%;
    float:left;
    margin-right:10px;
}
.noticelist .item-l img{
    width: 100%;
}
/*content*/
.noticeDetail{
    padding:10px 15px;
}
.noticeDetail h3{
    font-size:15px
}
.noticeDetail time{
    font-size:12px;
    text-align: center;
    color:#999
}
.noticeDetail img{
    width: 100%;
}