.font-red{
    color:#f74022;
}
.van-submit-bar{
    bottom:0;
    border-top:1px solid #f7f7f7;
}

li .van-checkbox__icon--checked .van-icon{
    background:#f74022 !important;
}
.coupon-radio{
    margin-right:15px;
}
.van-radio__icon--checked .van-icon{
    background-color: #f74022;
    border:#f74022;
}

li .shops {
    display: -webkit-box;
    width:100%;
    padding:10px 0;
}
.cyName{
    padding:10px 15px;
    border-bottom:1px solid #f7f7f7;
    display: -webkit-box;
    display: -moz-box;
    display: box;
}
.cyName h3{
    font-size:14px;
    /*font-weight: normal;*/
    margin:0 15px;
}

.itemlist{
    border-bottom:1px solid #f7f7f7;
}
.van-cell{
   /* padding: 0;
    line-height: 26px*/
}
.van-card{
    background-color: #fff;
}
.van-field__control{
    height: 26px;
}
.van-coupon{
    margin-top:10px;
}
.couponBtn{
    position: fixed;
    width:98%;
    bottom:0;
    padding:0 1%;
    height:55px;
    background: #fff;
    border:1px solid #f7f7f7;
}
.couponList{
    padding-bottom:60px;
}
.couponList li{
    border-bottom:1px solid #f7f7f7;
}
.totalitem{
    padding:5px 15px;
    text-align: right;
    /*border-bottom:5px solid #f7f7f7;*/
}
/* 浮层布局 */
.van-kyje{
    position:absolute;
    top:50%;
    margin-top:-10px;
    right:0;
    padding-right:30px;
}
.van_radio{
    position:absolute;
    top:50%;
    margin-top:-10px;
    right:15px;
    margin-left:15px;
}
.yhitem p{
    margin:0;
    text-align: right;
    padding:15px;
}
/*地址*/

.van-address-item__value{
    padding-right:0;
}
.van-address-list{
    padding:12px 12px 50px 12px;
    overflow-y:scroll;
}

.addressinfo{
    position: relative;
    padding:15px 30px 15px 50px;
    background: #fff;
}
.addressinfo .location-o{
    position: absolute;
    left:15px;
    top:50%;
    margin-top:-10px;
}
.addressinfo .arrow{
    position: absolute;
    right:15px;
    top:50%;
    margin-top:-10px;
}
.addressinfo .plus{
    font-size:50px;
}
.addressinfo p{
    margin:0;
    line-height:25px;
}
.addressbg{
    height:2px;
    background: -webkit-repeating-linear-gradient(-45deg,#ff6c6c 0,#ff6c6c 20%,transparent 0,transparent 25%,#1989fa 0,#1989fa 45%,transparent 0,transparent 50%);
    background: repeating-linear-gradient(-45deg,#ff6c6c 0,#ff6c6c 20%,transparent 0,transparent 25%,#1989fa 0,#1989fa 45%,transparent 0,transparent 50%);
    background-size: 80px;
}

/**/
.empty{
    margin-top:80px;
    text-align: center;
}
.empty .success{
    font-size:120px;
}
.empty .fail{
    font-size:120px;
}
.btnCenter{
    margin-top: 20px;
    text-align: center;
}
.van-collapse-item__content{
    padding:0;
}

/* gsubmitOk */
.buttons {
    padding: 0px 32px 16px 32px;
}

.buttons button {
    margin-top: 16px;
}
.van-doc-demo-block__title {
    margin: 0;
    padding: 32px 16px 16px;
    color: rgba(69, 90, 100, 0.6);
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.btnGroup{
    width: 136px;
    height:40px;
    border-radius:10px;
    padding:2px 10px;
    background: #000;
    opacity: 0.6;
    position: fixed;
    bottom:15px;
    left:15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.space-line{
    height:80%;
    width: 1px;
    background: #fff;
}
.btnGroup .van-icon{
    font-size:30px;
    color:#fff;
    vertical-align: middle;
}