body{
    font-family: Microsoft YaHei, sans-serif;
    color:#333;
}
.van-ellipsis{
    padding:0 5px;
}
.fontgray{
    color:#555;
    font-size:14px;
}
.search{
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
}
.lists{
    /*padding-top:50px;*/
    padding-bottom:55px;
}
.lists ul .goodslists{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}
.goodslists li{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    width: 49%;
    border: 1px solid #f5f5f5;
    vertical-align: top;
    background: #fff;
    margin: 1% 2% 1% 0;
    padding: 0;
    border-radius: 6px;
}
.lists ul .goodslists li:nth-child(2n) {
    position: relative;
    margin-right: 0;
}
.goodslists li img{
    width: 100%
}
.goodsname{
    width:98%;
    text-overflow: -o-ellipsis-lastline;
    color:#555;
    font-size:14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 5px;
    height:45px;
}
.pbttom{
    display: -webkit-flex;
    display: flex;
    display: -moz-flex;
    justify-content : space-between;
    padding:10px 5px;
    margin-top:0;
    color:#ff5a00;
}
.originalPrice{
    font-size:12px;
    color:#999;
    margin-left:3px;
}
.nopic{
    width:98%;
    padding-top:40%;
    padding-bottom:40%;
    border:1px solid #f7f7f7;
    text-align: center
}


.btnGroup{
    width: 136px;
    height:40px;
    padding:2px 10px;
    border-radius:10px;
    background: #000;
    opacity: 0.6;
    position: fixed;
    bottom:15px;
    left:15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.space-line{
    height:80%;
    width: 1px;
    background: #fff;
}
.btnGroup .van-icon{
    font-size:30px;
    color:#fff;
    vertical-align: middle;
}

.cart-icon{
    width: 30px;
    height:25px;
    text-align: center;

}
.cart-icon .van-icon{
    vertical-align: middle;
}
.border-radius{
    width: 40px;
    height:40px;
    border-radius:100%
}
.pddingTop{
    padding-top:40px;
    position: relative;
    height:100%;
    width: 100%;
    left:0;
    top:0;
}
.shopContent{
    padding-bottom:50px;
}
.shopping{
    text-align: center;
    padding-top:99px;
}
.shopping img{
    width:96px;
    height:96px;
    margin-bottom: 25px;
}
li {
    background: #ffffff;
    /* margin-bottom: 10px;*/
    position: relative;
}
li .shopmain {
    display: flex;
    padding: 0 8px 0 15px;
    position: relative;
    border-bottom:1px solid #f7f7f7;
}
li .shopmain .van-checkbox{
    width: 25px;
    /* position: absolute;
     top: 50%;
     margin-top: -10px;
     left:16px;*/
}
li .shops {
    display: -webkit-box;
    width:100%;
    padding:10px 0;
}
.cyName{
    padding:10px 15px;
    border-bottom:1px solid #f7f7f7;
    display: -webkit-box;
    display: -moz-box;
    display: box;
}
.cyName h3{
    font-size:14px;
    /*font-weight: normal;*/
    margin:0 15px;
}
li .shopImg {
    overflow: hidden;
    width:80px;
    height:80px;
    margin-top:10px;
}
li img {
    width: 100%;
}
.shopsright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:10px;
    -webkit-box-flex:2;
    -moz-box-flex: 2;
    box-flex:2;
}
h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-weight: normal;
    margin:5px 0;
}
.shoprightbot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shoprightbot .coffee-price{
    color:#F44336;
}
.shoprightbot s{
    font-size:12px;
    color:#999;
}
.van-checkbox__icon--checked .van-icon{
    border-color: #F44336;
    background-color: #F44336;
}
.van-submit-bar{
    z-index:9999
}





