/*.van-submit-bar{
    bottom:0;
    border-top:1px solid #f7f7f7;
    z-index: 0;
}*/
.shopContent{
    padding-bottom:50px;
}
.shopping{
    text-align: center;
    padding-top:99px;
}
.shopping img{
    width:96px;
    height:96px;
    margin-bottom: 25px;
}
li {
    background: #ffffff;
   /* margin-bottom: 10px;*/
    position: relative;
}
li .shopmain {
    display: flex;
    padding: 0 8px 0 15px;
    position: relative;
    border-bottom:1px solid #f7f7f7;
}
li .shopmain .van-checkbox{
    width: 25px;
   /* position: absolute;
    top: 50%;
    margin-top: -10px;
    left:16px;*/
}
li .shops {
    display: -webkit-box;
    width:100%;
    padding:10px 0;
}
.cyName{
    padding:10px 15px;
    border-bottom:1px solid #f7f7f7;
    display: -webkit-box;
    display: -moz-box;
    display: box;
}
.cyName h3{
    font-size:14px;
    /*font-weight: normal;*/
    margin:0 15px;
}
li .shopImg {
    overflow: hidden;
    width:80px;
    height:80px;
    margin-top:10px;
}
li img {
    width: 100%;
}
.shopsright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:10px;
    -webkit-box-flex:2;
    -moz-box-flex: 2;
    box-flex:2;
}
h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-weight: normal;
    margin:5px 0;
}
/*.shoprightbot {
    !*display: flex;*!
    justify-content: space-between;
    align-items: center;
}*/
.shoprightbot s{
    font-size:12px;
    color:#999;
}
.van-checkbox__icon--checked .van-icon{
    border-color: #F44336;
    background-color: #F44336;
}




.shoprightbot span {
   /* font-size: 17px;*/
    color: #F74022;
}
li .van-checkbox__icon--checked .van-icon{
    background:#f74022 !important;
}
.coupon-radio{
    margin-right:15px;
}
.van-radio__icon--checked .van-icon{
    background-color: #f74022;
    border:#f74022;
}
.van-submit-bar__tip{
    text-align: center;
}
.shopradd {
    /*width: 98px;*/
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
}
.shopradd .van-field__control{
    text-align: center !important;
}
.van-cell{
   /* padding: 0;
    line-height: 26px*/
}
.van-field__control{
    height: 26px;
}
.van-coupon{
    margin-top:10px;
}
.delete-button{
    height:100%;
}
.couponBtn{
    position: fixed;
    width:98%;
    bottom:0;
    padding:0 1%;
    height:55px;
    background: #fff;
    border:1px solid #f7f7f7;
}

.couponList li{
    border-bottom:1px solid #f7f7f7;
}
.totalitem{
    padding:5px 15px;
    text-align: right;
    border-bottom:5px solid #f7f7f7;
}

/* 浮层布局 */

/*
.van-tabs__wrap{
    position:fixed;
    top:0;
    width:100%;
    left:0;
    z-index: 99;
}
.van-tabs__content{
    padding:50px 0;
}*/
/*地址*/
.van-address-list__bottom{
    display: none;
}
.van-address-item__value{
    padding-right:0;
}
.van-address-item__edit{
    display: none;
}
.van-address-list{
    padding:12px;
}

.addressinfo{
    position: relative;
    padding:15px 30px 15px 50px;
    background: #fff;
}
.addressinfo .location-o{
    position: absolute;
    left:15px;
    top:50%;
    margin-top:-10px;
}
.addressinfo .arrow{
    position: absolute;
    right:15px;
    top:50%;
    margin-top:-10px;
}
.addressinfo .plus{
    font-size:50px;
}
.addressinfo p{
    margin:0;
    line-height:25px;
}
.addressbg{
    height:2px;
    background: -webkit-repeating-linear-gradient(-45deg,#ff6c6c 0,#ff6c6c 20%,transparent 0,transparent 25%,#1989fa 0,#1989fa 45%,transparent 0,transparent 50%);
    background: repeating-linear-gradient(-45deg,#ff6c6c 0,#ff6c6c 20%,transparent 0,transparent 25%,#1989fa 0,#1989fa 45%,transparent 0,transparent 50%);
    background-size: 80px;
}
.manage{
    background: #fff;
    height:35px;
    line-height:35px;
    text-align: right;
    margin:0;
    font-size:14px;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 99;
    border-bottom:1px solid #f7f7f7;
}
.manage a{
    color:#333;
    margin-right:15px;
}
.editDelete .van-submit-bar__text,.editDelete .van-submit-bar__price{
    font-size:0
}
.editDelete .van-submit-bar__button--danger{
    background: linear-gradient(to right,#fff,#fff);
    color:#ee0a24;
    border:1px solid #ee0a24
}