
html,body{
    width: 100%;height: auto;
}
.bgpic{
    background:url('../img/jyls.png')no-repeat center;
    background-size: contain;
    background-position: center center;
    overflow: auto;
}
.van-cell{
    background: none;
}
