.bg{
    position:relative;
    min-height:100vh;
    padding-bottom:195px;    /*将padding-bottom大小设置为底部内容的高度*/
    box-sizing:border-box
}
.mayorder li{
    border-bottom:1px solid #f7f7f7;
}
.bgimage img{
    position: absolute;
    bottom:0;
    height:195px;
    width: 100%;
    /*background:url('../img/jyls.png')no-repeat center;*/
    /*background-size: contain;*/
}
.detailMenu label{
    margin-top:5px;
    font-size:14px;
    float: left;
}
.detailMenu .button{
    text-align: right;
    padding:10px 15px;
    border-bottom:1px solid #f7f7f7;
    overflow: hidden;
}

